# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../:\Users\atag1\OneDrive\Escritorio\Antonio laptop Lenovo\Antonio\UCAB\Semestre 7 y 8\DS\Proyecto\Practica con git\tallerdesarrollo1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
